body {
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #022851, white);
}

h1.font-effect-outline {
  color: #ffbf00;
}

h1.font-effect-outline.white {
  color: white;
  font-size: 45px;
}

.grid-container {
  display: grid;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .inner-grid-item {
    width: 90%; /* Adjust width as needed */
    height: auto; /* Set height to auto to allow content to determine height */
  }

  .inner-grid-item img {
    width: 100%; /* Adjust image width to fill the container */
    height: auto; /* Allow image height to adjust proportionally */
    display: block;
    margin: 0 auto;
  }

  body {
    height: 500vh;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .inner-grid-item {
    width: 300px;
    height: 200px;
  }
  .inner-grid-item img {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
  }

  body {
    height: 200vh;
  }
}

.grid-item {
  align-items: center;
  border: none;
  padding: 20px;
}

.inner-grid {
  align-content: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* 3 rows with equal height */
}

.inner-grid-item {
  text-align: center;
  font-size: 15px;
  border: none;
  padding: 30px;
}

.inner-grid-item img {
  max-width: 100%;
  max-height: auto;
  display: block;
  margin: 0 auto;
}
