body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h1.font-effect-outline {
  color: #ffbf00;
}

@media (max-width: 768px) {
  .empty-container {
    padding: 0%;
    border: 10px solid black;
  }
}

@media (min-width: 768px) {
  .empty-container {
    padding: 10%;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: center;
  padding: 0;
}

.grid-container.parent {
  margin-left: 5%;
  margin-right: 5%;
}

.grid-item {
  border: 5px solid #022851;
  padding: 0;
}

.grid-item.inner {
  border: 1px solid #022851;
  font-size: 30px;
  text-align: center;
  width: 75px;
  height: 50px;
}

.grid-item.inner:hover {
  background-color: #fff000;
}

.grid-item.inner.selected {
  background-color: #ffbf00;
}

.footer {
  background-color: #022851;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-button {
  font-weight: bold;
  background-color: #ffbf00;
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  cursor: pointer;
}
